__tests__
.idea
.rpt2_cache
coverage
example
src
.eslintignore
.eslintrc.json
.gitignore
.travis.yml
jest-es5.config.js
jest-esnext.config.js
jest.config.js
rollup.config.js
tsconfig.base.json
tsconfig.es5-test.json
tsconfig.esnext-test.json
tsconfig.json
tsconfig.test.json
